<!DOCTYPE html>
<html>
<head>
    <title>권유</title>
    <meta charset="utf-8">
</head>
<body>
<div class="benner">
    <div class="logo">
        <a href="/home"><img src="/img/recipe_logo.png" width="100"></a>
        <a id="logo_name" href="/home">띵잇</a>
    </div>

    <form>
        <div class="search">
            <input type="text" class="look_iput" placeholder="검색어를 입력해주세요" title="검색창">
            <input type="image" class="look_input2" alt="검색" src="/img/search.png">
        </div>
    </form>

    <ul id="id">
        <li><a href="/help"><img src="/img/help.png"></a></li>
        <li><a href="/join">회원가입</a></li>
        <li><a href="/login">로그인</a></li>
    </ul>

    <div class='clearfix'></div>
</div>

<div class="menu">
    <ul>
        <li id='mypage'><a href="#">MY 페이지</a></li>
        <li id='advice'><a href="/advice">권유</a></li>
        <li id='recipe'><a href="/recipe">공유</a></li>
        <li id='disease'><a href="/disease">질병</a></li>
    </ul>
    <div class='clearfix'></div>
</div>