{{>layout/header}}
<link rel="stylesheet" href="/css/advice_css.css">

<div id='content'>
    <div class='recipe_bar'>
        <ul>
            <li><a href="#">인기 요리</a></li>
            <li><a href="#">밥</a></li>
            <li><a href="#">국</a></li>
            <li><a href="#">찌개</a></li>
        </ul>
    </div>

    <div class='recipe'>
        <h3 id='hot_recipe'> 인기 요리 </h3>
        <ul>
            <li><a href="#"><img src='#' width="225"><p>요리1</p></a></li>
            <li><a href="#"><img src='#' width="225"><p>요리2</p></a></li>
            <li><a href="#"><img src='#' width="225"><p>요리3</p></a></li>
            <li><a href="#"><img src='#' width="225"><p>요리4</p></a></li>
            <li><a href="#"><img src='#' width="225"><p>요리5</p></a></li>
            <li><a href="#"><img src='#' width="225"><p>요리6</p></a></li>
            <li><a href="#"><img src='#' width="225"><p>요리7</p></a></li>
            <li><a href="#"><img src='#' width="225"><p>요리8</p></a></li>
            <li><a href="#"><img src='#' width="225"><p>요리9</p></a></li>
            <li><a href="#"><img src='#' width="225"><p>요리10</p></a></li>
        </ul>
    </div>
</div>

{{>layout/footer}}