{{>layout/header}}
<link rel="stylesheet" href="/css/disease_css.css">

<div id='content'>
    <div class='disease_bar'>
        <ul>
            <details>
                <summary>
                    <a href="/disease">전체보기</a>
                </summary>
                <div class="details">
                    <li><a href="#">간</a></li>
                    <li><a href="#">뇌</a></li>
                    <li><a href="#">대장</a></li>
                    <li><a href="#">소장</a></li>
                    <li><a href="#">심장</a></li>
                    <li><a href="#">위</a></li>
                    <li><a href="#">척수</a></li>
                    <li><a href="#">췌장</a></li>
                    <li><a href="#">폐</a></li>

                </div>
            </details>
        </ul>
    </div>

    <div class='disease' style="position:relative;">
        <div style="position:relative; top:0px; left:0px"><a href="#"><img src="../img/인간2.png"></a></div>

        <div style="position:absolute; width:15.5%; top:3%; left:63%"><a href="#"><img src="../img/척수1.png"></a></div>
        <div style="position:absolute; width:13%; top:4.3%; left:64.6%"><a href="#"><img src="../img/뇌1.png"></a></div>
        <div style="position:absolute; width:19%; top:25%; left:61.5%"><a href="#"><img src="../img/폐1.png"></a></div>
        <div style="position:absolute; width:8%; top:33%; left:67%"><a href="#"><img src="../img/심장1.png"></a></div>

        <div style="position:absolute; width:13%; top:58.5%; left:25.5%"><a href="#"><img src="../img/췌장1.png"></a></div>
        <div style="position:absolute; width:18%; top:42%; left:22%"><a href="#"><img src="../img/간1.png"></a></div>
        <div style="position:absolute; width:15%; top:35%; left:25%"><a href="#"><img src="../img/위1.png"></a></div>
        <div style="position:absolute; width:20%; top:60%; left:20.7%"><a href="#"><img src="../img/대장1.png"></a></div>
        <div style="position:absolute; width:15%; top:64%; left:23.5%"><a href="#"><img src="../img/소장1.png"></a></div>
    </div>

{{>layout/footer}}