<!DOCTYPE html>
<html long="ko">
<head>
    <!--meta-->
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/help_css.css">
    <!--TITLE-->
    <title>도움말</title>

    <!--JS-->
    <script>

    </script>

</head>

<body>
<div class="benner">
    <div class="logo">
        <a href="/home"><img src="/img/logo.png" width="100"></a>
        <a id="logo_name" href="/home">띵잇</a>
    </div>

    <ul id="id">
        <li><a href="#"><img src="#"></a></li>
        <!--도움말버-->
        <li><a href="/join">회원가입</a></li>
        <li><a href="/login">로그인</a></li>
    </ul>

    <div class='clearfix'></div>
</div>
<div>
    <div>
    </div>

</div>

</body>
</html>
