<!DOCTYPE html>
<html long="ko">
<head>
    <title>로그인</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login_style.css">
    <meta charset="utf-8">
    <script></script>
</head>
<body>
<div class="wrap">
    <div class="benner">
        <div class="logo">
            <a href="/home"><img src="/img/my_page_logo.png" width="125"></a>
            <a id="logo_name" href="/home">띵잇</a>
        </div>
    </div>
    <div class="login_content">
        <div class="idpw">
            <input type="text" class="lnput_id" placeholder="id입력" title="login_id">
            <input type="text"class="lnput_pw"placeholder="pw입력" title="login_pw">
        </div>
        <a id="ok_bt" href="#"><img src="../img/ok.png" width="150"></a>

    </div>
    <div class="login_content2">
        <a id="join" href="/join"><img src="/img/join.png" width="80"></a>
        <a id="find_idpw" href="/id_find"><img src="/img/find.png" width="100"></a>
    </div>
</div>

</body>

</html>