<!DOCTYPE html>
<html>
<head>
    <title>비밀번호 찾기</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/pw_find_Style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>
<body>
<div class="benner">
    <div class="logo">
        <a href="/home"><img src="/img/login_logo.png" width="100"></a>
        <a id="logo_name" href="/home">띵잇</a>
    </div>
    <ul id="B_content">
        <li><a href="/help"><img src="/img/help.png" width="30px"></a></li>
        <li><a href="/join">회원가입</a></li>
        <li><a href="/login">로그인</a></li>
    </ul>
    <div class='clearfix'></div>
</div>
<div class="wrap">
    <div class="menu">
        <ul>
            <li id='id_find'><a href="/id_find">ID찾기</a></li>
            <li id='pw_find'>PW찾기</li>
        </ul>
        <div class='clearfix'>
        </div>
    </div>
    <div class='pwf_content'>
        <div class="pwf_q">
            <input type="text" id='pwf_id' placeholder="아이디" title=" ">
            <br>질문<br>
            <input type="text" id='pwf_a' placeholder="답변" title=" ">
        </div>
        <div class="ok_bt">
            <a href="#"><img src="/img/ok.png" width="100"></a>
        </div>
    </div>
</div>
</body>
</html>